@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #006d18;
  --secondary: #4e4e4e;
  --error: #641515;
}

/* base styles & title */
body {
  background-color: #c0faa5;
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

input[type="file"] {
  display: none;
}

#uploadBtn {
  padding: 2px;
  border-radius: 5px;
  background-color: #28ad3a;
  color: beige;
}

#uploadBtn:hover {
  transition: 0.5s;
  padding: 2px;
  color: rgb(0, 0, 0);
}

.title h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

.fileUpload {
  text-align: center;
}
/* upload form styles */
.img-grid {
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
  padding: 30px;
}

.img-wrap {
  overflow: hidden;
  position: relative;
  height: 0;
  padding: 50% 0;
  border-radius: 4px;
}

.img-wrap > img {
  position: absolute;
  width: 150%;
  top: 0;
}

.backDrop {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.backDrop > img {
  display: block;
  max-width: 50%;
  max-height: 80%;
  margin: 10rem auto;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}
